<style>
	body {
	  background-color: lavenderblush;
	}
  </style> 
 
 <div class="container-fluid navbar-fixed-top box-shadow" style="background-image: url('https://image.shutterstock.com/image-photo/healthy-clean-food-cooking-eating-260nw-1847997298.jpg'); background-size: 1550px 300px;">
			<a href="/" class="float-left">
			  <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color:rgb(223, 213, 213);">
				<img src="/images/logo/logo.png" class="logo" style= "height: 80px ; width: 100px;">
				<b>CookedIt</b>
			  </h2>
			</a>
	  
		  </div>
	    <div class="float-right margin-top-20">
	    	<a href="/u" class="btn btn-link hidden-xs">
	    		<i class="fa fa-lg fa-search pills"></i>
	    	</a>
	    	<button style="outline: none" type="button" class="btn btn-link" id="sidebarToggle">
	    		<i class="fa fa-lg fa-align-left pills"></i>
	    	</button>
	    </div>
	</div>
	